.holder {
    margin-bottom: 15px;
    background: #f4f5f7;
    border-radius: 16px;
    padding: 16px;
    display: grid;
    grid-template-areas: "thumb source date" "thumb title title" "thumb text text" "button button button";
    grid-template-rows: minmax(1em, auto) minmax(2em, auto) minmax(0px, 100%);
    grid-template-columns: 315px minmax(0px, auto) auto;
}

.thumb {
    grid-area: thumb;
    margin-right: 15px;
    position: relative;

    &:before {
        content: '';
        // display: block;
        position: relative;
        padding-bottom: 56.5%;
    }

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
    }
}

.meta {
    font-size: 15px;
    line-height: 20px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}

.source {
    color: rgba(0, 0, 0, 0.6);
    grid-area: source;
    margin-bottom: 8px;
}

.date {
    color: rgba(0, 0, 0, 0.6);
    grid-area: date;
    text-align: right;
}

.title {
    font-size: 20px;
    grid-area: title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    grid-area: text;
}

.footer__button {
    grid-area: button;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .holder {
        grid-template-areas: "thumb thumb" "source date" "title title" "text text" "button button";
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .thumb {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .source, .date {
        font-size: 14px;
        margin-bottom: 15px;
    }
}