@import "../../styles/variables";

.holder {
    margin-bottom: 30px;
    display: inline-flex;
    background: #ebebeb;
    border-radius: 8px;
    padding: 4px;
}

.tab {
    min-width: 200px;
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    transition: all .2s ease;
    cursor: pointer;

    &--selected {
        background: #fff;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .holder {
        display: flex;
    }

    .tab {
        flex: 1;
        min-width: 100px;
    }
}