@import "../../styles/variables";

.holder {
    padding: 20px;
    border-radius: 50px;
    background-color: #f4f5f7;
    display: grid;
    grid-template-areas: "avatar name" "avatar phone" "avatar email" "avatar actions";
    grid-template-columns: minmax(100px, 200px) minmax(0px, auto) auto;
}

.avatar {
    grid-area: avatar;
    margin-right: 30px;
    
    position: relative;

    &:before {
        content: '';
        display: block;
        position: relative;
        padding-bottom: 100%;
    }

    img, span {
        top: 0;
        left: 0;
        border-radius: 30px;
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-400;
        font-size: 50px;
    }
}

.name {
    grid-area: name;
    font-size: 32px;
    font-weight: bold;
    color: $gray-600;
    margin-bottom: 10px;
}

.phone {
    grid-area: phone;
    font-size: 20px;
    font-weight: 900;
    color: $gray-500;
    margin-bottom: 10px;
}

.email {
    grid-area: email;
    font-size: 20px;
    font-weight: 900;
    color: $gray-500;
}

.phone, .email {
    i {
        color: $gray-600;
        font-size: 18px;
        margin-right: 10px;
    }
}

.actions {
    grid-area: actions;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .holder {
        grid-template-areas: "avatar" "name" "phone" "email" "actions";
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .avatar {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .name {
        font-size: 24px;
    }

    .phone, .email {
        font-size: 16px;
    }
    
    .actions {
        display: flex;
        flex-wrap: wrap;

        button {
            flex: 1;
        }
    }
}

@media (max-width: 500px) {
    .actions {
        button {
            min-width: 100%;
            margin: 0px !important;
            margin-bottom: 15px !important;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}