.button {
    border: 0;
    padding: 0px 18px;
    height: 40px;
    min-height: 40px;
    display: inline-flex;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 15px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    color: #333;
    transition: background-color .2s ease,
                color .2s ease;

    &:hover {
        background-color: #dedede;
    }

    & + small {
        display: block;
        color: $gray-700;
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
    }

    &--full {
        width: 100%;
    }

    &--main {
        background-color: $primary;
        color: color-contrast($primary);

        &:hover {
            background-color: shift-color($primary, 10);
        }
    }

    &[disabled] {
        color: $gray-600;
        background-color:$gray-400;
    }

    i {
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }
}