.card {
    &__header {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        height: 22px;
        @extend .h3;

        &--center {
            text-align: center;
            justify-content: center;
        }
    }

    &__content {
        padding: 24px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px $shadow-sm;
        border: 1px solid #CDD9ED;
        margin: 0 0 40px 0;
    }
}