@import "../../styles/variables";

.holder {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: $gray-100;
    display: grid;
    grid-template-columns: auto 180px;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas: "name qr" "description qr" "meta qr" "actions qr";
}

.name {
    grid-area: name;
    font-weight: bold;
    margin-bottom: 8px;

    a {
        color: $primary;
    }
}

.description {
    grid-area: description;
    color: $gray-700;
    font-size: 14px;
    margin-bottom: 8px;
}

.meta {
    grid-area: meta;
    list-style: none;
    margin: 0px;
    padding: 0;
    font-size: 14px;
    color: $gray-700;
    line-height: 1.4;
}

.actions {
    grid-area: actions;
}

.qr {
    grid-area: qr;
    padding-left: 30px;

    img {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .holder {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "name" "description" "meta" "actions" "qr";
    }

    .actions {
        margin: 15px 0px;

        & > * {
            width: 100%;
        }
    }

    .qr {
        padding-left: 0px;
    }
}