@import "../../styles/variables";

.holder {
    margin-top: 50px;
}

.title {
    color: $gray-700;
    font-size: 52px;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .holder {
        padding: 9px 0px;
        margin-top: -5px;
    }

    .title {
        text-align: center;
        font-size: 22px;
        line-height: 32px;
        display: block;
    }
}