@import "../../styles/variables";

.holder {
    width: 50%;
    padding: 0px 15px;
    margin-bottom: 30px;

    &--ended {
        opacity: .6;
    }

    &:hover {
        .cover {
            img {
                transform: scale(1.1);
            }
        }
        .header {
            &__title {
                color: $black;
            }
        }
        .price {
            opacity: 1;
        }
    }
}

.cover {
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    &:before {
        content: '';
        width: 100%;
        display: block;
        position: relative;
        padding-bottom: 56.25%;
    }

    img {
        top: 0;
        left: 0;
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s ease 0s;
    }
}

.price {
    left: 15px;
    bottom: 15px;
    display: block;
    position: absolute;
    padding: 0px 15px;
    line-height: 28px;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    outline: 0px;
    border: 0px;
    border-radius: 8px;
    background: rgb(32, 32, 32);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    opacity: .7;
    transition: all .2s ease;
}

.header {
    padding-top: 12px;

    &__title {
        margin: 0;
        padding: 0;
        font-size: 24px;
        color: $gray-700;
        transition: all .2s ease;
    }
}

.meta {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    padding-top: 12px;
    color: $gray-600;
    display: flex;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &:after {
            width: 5px;
            height: 5px;
            content: "";
            display: block;
            border-radius: 50%;
            background: $gray-600;
            margin: 0px 12px;
            position: relative;
            display: block;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .holder {
        width: 100%;
    }
}