.holder {
    position: relative;
}

.dropdown {
    top: 58px;
    right: 0px;
    opacity: 0;
    position: absolute;
    transition: all .2s ease;
    background-color: #252525;
    min-width: 180px;
    max-width: 400px;
    display: inline-block;
    margin: 0;
    padding: 0px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    visibility: hidden;

    &--opened {
        opacity: 1;
        visibility: visible;
    }

    &__item {
        display: block;
    }

    &__link {
        padding: 16px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}

.avatar {
    &__sign {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #ddd;
    }
    
    &__mock {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #ddd;
    }
}