@import "../../styles/variables";

.footer {
    margin: 30px 0px;

    &__menu {
        width: 100%;
        display: flex;
        justify-content: center;
        
        &-link {
            color: $primary;
            display: block;
            font-size: 14px;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__menu {
            flex-direction: column;

            &-link {
                text-align: center;
            }
        }
    }
}