@import 'variables';

.authForm {
    width: 100%;
    max-width: 25.6rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
}

.header {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;

    &__edit {
        color: $gray-500;
        font-size: .7em;
        padding: 10px 20px;
        position: relative;
        cursor: pointer;
    }
    
    &__desc {
        color: $gray-600;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.6;
    }
}

.resend {
    text-align: left;
    font-size: 14px;
    margin-top: 15px; 
    color: $gray-600;
    display: block;

    &__link {
        color: $primary;
    }
}