@import "../styles/variables";

.topLine {
    // background-color: $gray-100;

    & > * {
        height: 72px;
        position: relative;
        display: grid;
        padding-top: 12px;
        padding-bottom: 12px;
        box-sizing: border-box;
        grid-template-areas: "category logo" "title logo";
        grid-template-columns: auto max-content;
        grid-template-rows: 1.4em auto;
    }

    &__arrow {
        top: 50%;
        right: 100%;
        position: absolute;
        font-size: 32px;
        grid-area: arrow;
        transform: translateY(-50%);
        z-index: 999999999;
    }

    &__category {
        grid-area: category;
        font-size: 14px;
        color: $gray-700;
    }

    &__title {
        grid-area: title;
        font-size: 22px;
        font-weight: bold;
        color: $gray-800;
    }

    &__logo {
        img {
            width: 42px;
            height: auto;
            display: block;
            margin-top: 3px;
        }
    }
}

.cover {
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
        position: relative;
    }

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 20px;
    }
}

.navigation {
    position: sticky;
}

.section {
    margin-bottom: 30px;

    &__header {
        font-size: 28px;
        font-weight: bold;;
        margin-bottom: 12px;
    }
}

.meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &__item {
        flex: 1;
        flex-basis: 300px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }


    &__data {
        & > * {
            display: block;
            line-height: 1.5em;
        }

        span {
            font-size: 13px;
            color: $gray-500;
        }
    }

    &__icon {
        font-size: 32px;
        margin-right: 15px;
    }
}

.organizer {
    width: 25%;
    padding: 5px 10px 15px;
    text-align: center;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
        position: relative;
    }

    &__avatar {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: relative;
            padding-bottom: 100%;
        }

        img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
            border-radius: 20px;
            position: absolute;
            object-fit: cover;
        }
    }

    &__name {
        color: $gray-800;
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
    }

    &__role {
        color: $gray-600;
        margin-top: 3px;
        font-weight: bold;
        font-size: 14px;
    }
}

.ticket {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: $gray-100;
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-areas: "name remaining" "description button";

    &__name {
        color: $gray-800;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
        grid-area: name;
    }

    &__remaining {
        grid-area: remaining;
    }

    &__description {
        grid-area: description;
        padding-right: 30px;
    }

    &__button {
        grid-area: button;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .topLine {
        // margin-top: 72px;
        background: none;

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__arrow {
            font-size: 24px;
            right: auto;
            position: relative;
            transform: none;
            margin-right: 15px;
        }

        &__title {

        }

        &__category, &__logo, &__arrow {
            display: none;
        }
    }

    .organizer {
        width: 50%;
    }

    .ticket {
        grid-template-areas: "name name" "description description" "remaining button";

        &__remaining {
            line-height: 40px;
            margin-top: 15px;
        }

        &__description {
            padding-right: 0;
        }

        &__button {
            margin-top: 15px;
        }
    }
}


@media screen and (max-width: 500px){
    .organizer {
        width: 50%;
    }
}