@import "variables";
@import "functions";
@import "header";
@import "ui";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/regular.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/light.scss";

* {
  box-sizing: border-box;
}

.c4 {
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #f5f8fa;
  background: #fff;
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0px auto;
  max-width: 1020px;
  padding: 0px 20px;
}

.error {
  color: $primary;
  font-size: 14px;
  margin-bottom: 10px;
}

.block {
  padding: 15px;
  border-radius: 10px;
  line-height: 1.4;
  background-color: $gray-200;
  color: $gray-900;
}

@media (prefers-color-scheme: dark) { 
  body {
    background-color: #fff;
  }
 }