.header {
    top: 0;
    width: 100%;
    display: flex;
    height: 72px;
    position: fixed;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 999999;
    // background: #fff;

    &__circle {
        width: 46px;
        height: 46px;
        padding: 7px;
        border-radius: 30%;
        transition: all .3s ease;
        display: block;

        &:hover {
            cursor: pointer;
            background: #eee;
            box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
            // box-shadow: ;
        }
    }

    &__logo {
        & > img {
            display: block;
            max-width: 100%;
        }
    }
}